footer {
  width: 100%;
  display: flex;
  padding: 15px 0px 20px 0;
  background-color: #fff;
}
footer p,
footer a {
  color: #000;
}
footer .conteudo {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
footer .conteudo p:first-child {
  margin-bottom: 15px;
}
@media only screen and (min-width: 1024px) {
  footer .conteudo {
    flex-direction: row;
    justify-content: space-between;
  }
  footer .conteudo p:first-child {
    margin-bottom: 0px;
  }
}
